<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="adblockforopera" viewmodes="minimized" version="1.0.4">
  <name>AdBlock</name>
  <author>adblockforopera</author>
  <description>Blocks ads on all websites.</description>
  <icon src="img/icon16.png" width="16" height="16"/>
  <icon src="img/icon18.png" width="18" height="18"/>
  <icon src="img/icon19.png" width="19" height="19"/>
  <icon src="img/icon24.png" width="24" height="24"/>
  <icon src="img/icon32.png" width="32" height="32"/>
  <icon src="img/icon48.png" width="48" height="48"/>
  <icon src="img/icon64.png" width="64" height="64"/>
  <icon src="img/icon128.png" width="128" height="128"/>
  <license href="http://www.gnu.org/licenses/">
Copyright (C) 2012, the AdBlock for Opera project members

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
  </license>
  <access origin="*"/>
 	<content src="background.html" encoding="utf-8" type="text/html"/>
  <feature name="opera:urlfilter" required="true"/>
  <feature name="opera:contextmenus" required="false"/>
</widget>
